.noteCard{
    padding: 15px;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 40px;
}
.noteCard:focus{
    background-color: #f1f1f1;
}